{erl_opts, [debug_info]}.
{deps, []}.
{plugins, [rebar3_hex]}.

{shell, [{apps, [server]}]}.

{dist_node, [
    {setcookie, 'fabrix'},
    {sname, 'alpha'}
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
   
{relx, [
    {release, {server, "1.0.0"},
     %% list of apps to include
     [server]},

    %% Don't ship an Erlang VM by default
    {include_erts, false},
    {vm_args, "./vm.args"},
    {sys_config, "./sys.config"}
]}.

{profiles, [
    %% called as `rebar3 as prod <command>`
    {prod, [
        {relx, [ % override relx specifically
          {include_src, false}, % don't include source code
          {include_erts, true}  % include the VM in the release
        ]}
    ]}
]}.
